:root {
    --grid-cell-number: 16;
}

html {
    margin: 0;
    height: 100%;
 }

body {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(var(--grid-cell-number), 1fr);
    grid-template-rows: repeat(var(--grid-cell-number), 1fr);
}

#reset-button {
    margin-bottom: 20px;
}